body {
    margin: 0;
    padding: 0;
    font-family:arial;
}
/*
.topnav {
    background-color: rgb(231, 231, 231);
    overflow: hidden;
}

.topnav p.tittle {
    position: absolute;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: 27px;
    padding: 15px;
    margin-top: 0px;
    margin-left: 5%;
    margin-bottom: 5px;
    color: white;
    background-color: rgb(209, 93, 16);
}

.topnav a {
    float: left;
    color: rgb(87, 87, 87);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display:inline-block;
}
  
.topnav a:hover {
    background-color: rgb(255, 255, 255);
    border-bottom: solid 3px rgb(9, 92, 139);
    box-shadow: 0 0 15px 4px rgb(207, 207, 207);
    color: rgb(0, 0, 0);
}
  
.topnav a.active {
    background-color: rgb(243, 243, 243);
    border-bottom: solid 3px rgb(9, 92, 139);
    box-shadow: 0 0 15px 4px rgb(207, 207, 207);
    color: rgb(0, 0, 0);
}

*/

div {
    margin-top:-16px;
}

.nav {
    background-color: rgb(231, 231, 231);
    overflow: hidden;
    height: 55px;
}

.nav p.tittle {
    position: absolute;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: 27px;
    padding: 15px;
    margin-top: 0px;
    margin-left: 5%;
    margin-bottom: 5px;
    color: white;
    background-color: rgb(209, 93, 16);
}



ul, ol {
    list-style:none;
}

.nav > li {
    float:left;
}

.nav li a {
    color: rgb(87, 87, 87);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display:inline-block;
    display:block;
}

.nav li a:hover {
    background-color: rgb(255, 255, 255);
    border-bottom: solid 3px rgb(9, 92, 139);
    box-shadow: 0 0 15px 4px rgb(207, 207, 207);
    color: rgb(0, 0, 0);
}

.nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
}

.nav li ul li a{
    background-color: rgb(231, 231, 231);
}

.nav li:hover > ul {
    display:block;
}

.nav li ul li {
    position:relative;
}

.nav li ul li ul {
    right:-140px;
    top:0px;
}

.nav a.active {
    background-color: rgb(243, 243, 243);
    border-bottom: solid 3px rgb(9, 92, 139);
    box-shadow: 0 0 15px 4px rgb(207, 207, 207);
    color: rgb(0, 0, 0);
}