{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'msg_mnt/css/index.css' %}">
    <title>Index</title>
</head>
<body>
    {% include "navbar.html" %}

    <div class="home-image">
        <img src="{% static 'msg_mnt/assets/IA1.jpg' %}">
    </div> 
    <div class="home-intro-card">
        <h2>Machine Learning</h2>
        <p>Texto de prueba con introduccion articulo o contenido referente a nuestro modelo o al machine 
            en general, texto de prueba con introduccion articulo o contenido referente a nuestro modelo o al machine 
            en general, texto de prueba con introduccion articulo o contenido referente a nuestro modelo o al machine 
            en general, texto de prueba con introduccion articulo o contenido referente a nuestro modelo o al machine 
            en general, texto de prueba con introduccion articulo o contenido referente a nuestro modelo o al machine 
            en general.
        </p>
        <p>Texto de prueba con introduccion articulo o contenido referente a nuestro modelo o al machine 
            en general, texto de prueba con introduccion articulo o contenido referente a nuestro modelo o al machine 
            en general, texto de prueba con introduccion articulo o contenido referente a nuestro modelo o al machine 
            en general, texto de prueba con introduccion articulo o contenido referente a nuestro modelo o al machine 
            en general, texto de prueba con introduccion articulo o contenido referente a nuestro modelo o al machine 
            en general.
        </p>
    </div>   
</body>
</html>