{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'msg_mnt/css/navbar.css' %}">
    <title>Document</title>
</head>
<body>
    <div>
        <ul class="nav">
            <li><p class="tittle">Monitor de Conversaciones</p></li>
            <li style="margin-left: 55%;"><a class="{{ home|yesno:'active,' }}" href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'mis-cvs' %}">Mis Conversacoines</a></li>
            <li><a href="{% url 'mis-cvs' %}">Mis Conversacoines</a></li>
            <li>
                <a>Login</a>
                <ul>
                    <li><a href="">Login</a></li>
                    <li><a href="">Registro</a></li>                
                </ul>
            </li>
        </ul>
    </div>
</body>
</html>